@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", "Georgia", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-bg: #06080d;
  --color-surface: #0f131c;
  --color-surface-light: #161c29;
  --color-border: #202b3d;
  --color-accent: #00b497;
  --color-accent-hover: #009980;
  --color-accent-purple: #86198f;
  --color-accent-blue: #1e3a8a;
  --color-text-p: #f8fafc;
  --color-text-s: #94a3b8;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-p);
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}
